# Node
node_modules/
frontend/node_modules/
backend/node_modules/

# Vite
.vite/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.local
.env.*.local

# OS
.DS_Store

# Build
dist/
build/
